<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <section class="col-md">
        <ul class="list-unstyled">
          <li><h5>COLUMN 1</h5></li>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
        </ul>
      </section>
      <section class="col-md">
        <ul class="list-unstyled">
          <li><h5>COLUMN 2</h5></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </section>
      <section class="col-md">
        <ul class="list-unstyled">
          <li><h5>COLUMN 3</h5></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
        </ul>
      </section>
      <section class="col-md">
        <h4>CONTATO</h4>

        <p class="address">Rua Marquês de São Vicente, 225, Gávea - Rio de Janeiro, RJ - Brasil - 22451-900</p>
        <p class="phone">(55 21) 3527-1001</p>
      </section>
    </div>
  </div>
</div>
<div class="container-fluid copyright">
    <p><small>Copyright 2017</small></p>
</div>
